NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_SECRET=
ADMIN_PASSWORD=
CONTACT_EMAIL=831dberg@gmail.com
VENMO_HANDLE=
PAYPAL_HANDLE=
CASHAPP_HANDLE=
PAYMENT_NOTE=Baby shower gift for Eva Vy
NEXT_PUBLIC_USD_TO_VND_RATE=26000
